<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joyboys.system.mapper.QuizActivityMapper">

  <delete id="deleteQuizActivityByQuizActivityId" parameterType="Long">
    delete
    from qas_quiz_activity
    where quiz_activity_id = #{quizActivityId}
  </delete>

  <delete id="deleteQuizActivityByQuizActivityIds" parameterType="String">
    delete from qas_quiz_activity where quiz_activity_id in
    <foreach close=")" collection="array" item="quizActivityId" open="(" separator=",">
      #{quizActivityId}
    </foreach>
  </delete>

  <delete id="deleteQuestionByQuizActivityIds" parameterType="String">
    delete from qas_question where quiz_activity_id in
    <foreach close=")" collection="array" item="quizActivityId" open="(" separator=",">
      #{quizActivityId}
    </foreach>
  </delete>

  <delete id="deleteQuestionByQuizActivityId" parameterType="Long">
    delete
    from qas_question
    where quiz_activity_id = #{quizActivityId}
  </delete>

  <insert id="insertQuizActivity" keyProperty="quizActivityId" parameterType="QuizActivity"
    useGeneratedKeys="true">
    insert into qas_quiz_activity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="creatorId != null">creator_id,</if>
      <if test="title != null and title != ''">title,</if>
      <if test="timeLimit != null">time_limit,</if>
      <if test="description != null and description != ''">description,</if>
      <if test="totalPoints != null">total_points,</if>
      <if test="state != null and state != ''">state,</if>
      <if test="startTime != null">start_time,</if>
      <if test="endTime != null">end_time,</if>
      <if test="acceptanceLine != null">acceptance_line,</if>
      <if test="quizNum != null">quiz_num,</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="creatorId != null">#{creatorId},</if>
      <if test="title != null and title != ''">#{title},</if>
      <if test="timeLimit != null">#{timeLimit},</if>
      <if test="description != null and description != ''">#{description},</if>
      <if test="totalPoints != null">#{totalPoints},</if>
      <if test="state != null and state != ''">#{state},</if>
      <if test="startTime != null">#{startTime},</if>
      <if test="endTime != null">#{endTime},</if>
      <if test="acceptanceLine != null">#{acceptanceLine},</if>
      <if test="quizNum != null">#{quizNum},</if>
    </trim>
  </insert>

  <insert id="batchQuestion">
    insert into qas_question( question_id, content, question_score, correct_answer, options,
    quiz_activity_id, question_type) values
    <foreach collection="list" index="index" item="item" separator=",">
      ( #{item.questionId}, #{item.content}, #{item.questionScore}, #{item.correctAnswer},
      #{item.options}, #{item.quizActivityId}, #{item.questionType})
    </foreach>
  </insert>

  <resultMap id="QuizActivityResult" type="QuizActivity">
    <result column="quiz_activity_id" property="quizActivityId"/>
    <result column="creator_id" property="creatorId"/>
    <result column="title" property="title"/>
    <result column="time_limit" property="timeLimit"/>
    <result column="description" property="description"/>
    <result column="total_points" property="totalPoints"/>
    <result column="state" property="state"/>
    <result column="start_time" property="startTime"/>
    <result column="end_time" property="endTime"/>
    <result column="acceptance_line" property="acceptanceLine"/>
    <result column="quiz_num" property="quizNum"/>
  </resultMap>


  <resultMap extends="QuizActivityResult" id="QuizActivityQuestionResult" type="QuizActivity">
    <collection javaType="java.util.List" notNullColumn="sub_question_id" property="questionList"
      resultMap="QuestionResult"/>
  </resultMap>

  <resultMap id="QuestionResult" type="Question">
    <result column="sub_question_id" property="questionId"/>
    <result column="sub_content" property="content"/>
    <result column="sub_question_score" property="questionScore"/>
    <result column="sub_correct_answer" property="correctAnswer"/>
    <result column="sub_options" property="options"/>
    <result column="sub_quiz_activity_id" property="quizActivityId"/>
    <result column="sub_question_type" property="questionType"/>
  </resultMap>

  <select id="selectQuizActivityList" parameterType="QuizActivity" resultMap="QuizActivityResult">
    <include refid="selectQuizActivityVo"/>
    <where>
      <if test="creatorId != null ">and creator_id = #{creatorId}</if>
      <if test="title != null  and title != ''">and title like concat('%', #{title}, '%')</if>
      <if test="timeLimit != null ">and time_limit = #{timeLimit}</if>
      <if test="description != null  and description != ''">and description like concat('%',
        #{description}, '%')
      </if>
      <if test="totalPoints != null ">and total_points = #{totalPoints}</if>
      <if test="state != null  and state != ''">and state = #{state}</if>
      <if test="startTime != null ">and DATE(start_time) = #{startTime}</if>
      <if test="endTime != null ">and DATE(end_time) = #{endTime}</if>
      <if test="acceptanceLine != null ">and acceptance_line = #{acceptanceLine}</if>
      <if test="quizNum != null ">and quiz_num = #{quizNum}</if>
    </where>
  </select>

  <select id="selectQuizActivityByQuizActivityId" parameterType="Long"
    resultMap="QuizActivityQuestionResult">
    select a.quiz_activity_id,
           a.creator_id,
           a.title,
           a.time_limit,
           a.description,
           a.total_points,
           a.state,
           a.start_time,
           a.end_time,
           a.acceptance_line,
           a.quiz_num,
           b.question_id      as sub_question_id,
           b.content          as sub_content,
           b.question_score   as sub_question_score,
           b.correct_answer   as sub_correct_answer,
           b.options          as sub_options,
           b.quiz_activity_id as sub_quiz_activity_id,
           b.question_type    as sub_question_type
    from qas_quiz_activity a
           left join qas_question b on b.quiz_activity_id = a.quiz_activity_id
    where a.quiz_activity_id = #{quizActivityId}
  </select>

  <sql id="selectQuizActivityVo">
    select quiz_activity_id,
           creator_id,
           title,
           time_limit,
           description,
           total_points,
           state,
           start_time,
           end_time,
           acceptance_line,
           quiz_num
    from qas_quiz_activity
  </sql>

  <update id="updateQuizActivity" parameterType="QuizActivity">
    update qas_quiz_activity
    <trim prefix="SET" suffixOverrides=",">
      <if test="creatorId != null">creator_id = #{creatorId},</if>
      <if test="title != null and title != ''">title = #{title},</if>
      <if test="timeLimit != null">time_limit = #{timeLimit},</if>
      <if test="description != null and description != ''">description = #{description},</if>
      <if test="totalPoints != null">total_points = #{totalPoints},</if>
      <if test="state != null and state != ''">state = #{state},</if>
      <if test="startTime != null">start_time = #{startTime},</if>
      <if test="endTime != null">end_time = #{endTime},</if>
      <if test="acceptanceLine != null">acceptance_line = #{acceptanceLine},</if>
      <if test="quizNum != null">quiz_num = #{quizNum},</if>
    </trim>
    where quiz_activity_id = #{quizActivityId}
  </update>
</mapper>