<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joyboys.system.mapper.UserRoleMapper">

  <delete id="deleteUserRoleByUserId" parameterType="Long">
    delete
    from rms_user_role
    where user_id = #{userId}
  </delete>

  <delete id="deleteUserRole" parameterType="Long">
    delete from rms_user_role where user_id in
    <foreach close=")" collection="array" item="userId" open="(" separator=",">
      #{userId}
    </foreach>
  </delete>

  <delete id="deleteUserRoleInfo" parameterType="UserRole">
    delete
    from rms_user_role
    where user_id = #{userId}
      and role_id = #{roleId}
  </delete>

  <delete id="deleteUserRoleInfos">
    delete from rms_user_role where role_id=#{roleId} and user_id in
    <foreach close=")" collection="userIds" item="userId" open="(" separator=",">
      #{userId}
    </foreach>
  </delete>

  <insert id="batchUserRole">
    insert into rms_user_role(user_id, role_id) values
    <foreach collection="list" index="index" item="item" separator=",">
      (#{item.userId},#{item.roleId})
    </foreach>
  </insert>

  <resultMap id="UserRoleResult" type="UserRole">
    <result column="user_id" property="userId"/>
    <result column="role_id" property="roleId"/>
  </resultMap>

  <select id="countUserRoleByRoleId" resultType="Integer">
    select count(1)
    from rms_user_role
    where role_id = #{roleId}
  </select>
</mapper> 